# Node.js
node_modules/

# Yarn
.yarn/
yarn-error.log
yarn.lock

# Build files
/build/
/dist/

# Environment variables
.env

# Editor files
.vscode/
.idea/

# Logs
/logs/
*.log
npm-debug.log*

# User-specific files
.DS_Store
Thumbs.db

# Output of 'npm pack'
*.tgz

# Frontend build artifacts
/client/build/
/client/dist/

# Backend build artifacts
/server/dist/

# Frontend node_modules
/client/node_modules/

# Prettier files
**/.prettier
**/.prettierignore
**/.prettierrc




